<section id="section-about">
	<a name="about"></a>
	<div class="container-fluid section-container">
		<hgroup class="section-header">
			<h1>ABOUT US</h1>
		</hgroup>
		<div class="section-content container">
			
<p>BibleQuizHelper is run by my brother, Drew, and I (Brant). Both of us have a passion for both building up God's kingdom and for computer programming. We're called as Christians to use our gifts and talents for the advancement of the Kingdom and for building up the body of Christ.</p>

<p class="paragraph-text">My quizzing coaches spent countless hours creating study lists, grids, and other resources for our team. One day, I realized that I could use my computer programming skills to build software that would generate these study materials on it's own. My hope is that this software will be able to save coaches a lot of time as they put together study materials for their quizzers.</p>

<p class="paragraph-text">We hope our site and its tools will aid you as you strive to deeply ingrain God's Word on your heart!</p>

<p>Grace and peace,<br>
Brant Meier<br>
BibleQuizHelper<br>
Phone: 304-602-7268<br>
Email: <a href="mailto:youngwebking@gmail.com">youngwebking@gmail.com</a></p>

		</div>
	</div>
</section>
