<!DOCTYPE html>
<html>
<head>
  <title>Biblequizhelper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<%= render 'layouts/header' %>
	
	<section>
		<%= render 'layouts/banner' %>
		
		<section id="section-resources">
			<a name="resources"></a>
			<div class="container-fluid section-container">
				<hgroup class="section-header">
					<h1>RESOURCES</h1>
				</hgroup>
				<div class="section-content container">
          <ol>
            <li><%= link_to 'Grids', grids_path %></li>
          </ol>
        </div>
      </div>
    </section>
			
		<%= render 'staticpages/about' %>

    <%= render 'layouts/footer' %>
	</section>
</body>
</html>
