$color_primary: #c32;
$color_primary_dark: #d32;
$color_primary_bright: #f32;
$color_primary_transparent: rgba(255, 10, 20, 0.19);

body {
	font-size: 1.6em;
	font-family: sans-serif;
	color: #444;
}

a {
	color: $color_primary;
}

a:hover {
	color: $color_primary_dark;
}

.navbar a {
	font-weight: bold;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

blockquote {
	background-color: #e8e8e8;
	border-left: 3px solid $color_primary_dark;
	padding-top: 16px;
	padding-bottom: 16px;
}

/* Navigation Bar */

.navbar {
/*	background-color: #194*/
	background-color: #222;
	border-radius: 0;
	margin: 0;
	
	position: fixed;
	width: 100%;
	z-index: 1000;
}
.navbar-default .navbar-brand {
    //color: #fff;
    color: $color_primary;
}
.navbar a,
.navbat a:link,
.navbar a:visited,
.navbar a:focus, {
	//color: #fff;
	color: $color_primary;
}
.navbar-default .navbar-brand:hover {
    color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-black .navbar-toggle:hover,
.navbar-black .navbar-toggle:focus{
	background-color: rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-black .navbar-toggle .icon-bar {
	background-color: $color_primary;
}
.navbar-default .navbar-nav > li > a {
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	color: #fff;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Hero Banner */

.hero-container {
	position: relative;
	
}

.hero-image {
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	opacity: 0.23;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	background: image-url('banner.jpg') no-repeat center top;
/*	bottom: 0px;*/
}

.hero-image > img {
	width: 100%;
/*	max-height:100%;*/
/*	margin: 0 auto;*/

	
	display: none;
  max-width:1500px;
  max-height:800px;
  width: auto;
  height: auto;
/*	margin-top: -0%;*/
/*	margin-left: -25%;*/
/*	margin-right: -25%;*/
}

.hero-overlay {
/*	background: rgba(0, 40, 3, 0.95);*/
	background: rgba(0, 0, 0, 0.95);
	
}

.hero-text {
	text-align: center;
	color: white;
	line-height: 1.25em;
	padding: calc(24px + 6%) 16px;
	font-size: 1.5em;
	overflow:hidden;
	
/*	background: url('../media/IntegrityTurbines_banner.JPG') no-repeat center top;*/
	
}

.hero-text h1 {
	font-size: 2.5em;
	font-weight: 500;
	//text-transform: uppercase;
}

.hero-text .gc-cs-link {
	color: white;
}

.odd-sideways-image {
	transform: rotate(90deg);
	
}


.section-container {
	padding: 16px 0px;
/*	background-color: #ccc;*/
}

.section-header {
	text-align: center;
/*	padding: 16px 0;*/
/*	background-color: #000;*/
}

.section-header h1 {
  text-transform: uppercase;
}

.section-content {
	padding: 16px 16px;
	line-height: 1.5em;
	font-size: 1.05em;
/*	background-color: #aaa;*/
	
}

.content-block {
/*	padding: 24px 0px 24px 0;*/
}

.service-image {
	overflow: hidden;
}

.service-image img {
	width: 100%;
}

.phone-number {
	background-color: $color_primary_transparent;
	border: 3px solid $color_primary_bright;
	border-radius: 12px;
	padding: 16px;
	margin: 16px;
	line-height: 3em;
}

.footer-brand {
	text-align: center;
	background-color: #222;
	padding-top: 8px;
	padding-bottom: 8px;
}
.footer-brand h2 {
	margin: 0;
}

.footer-brand h2 span {
  text-transform: uppercase;
  color: $color_primary_dark;
}

.table-contact {
	margin: 0 auto;
	padding: -16px 0;
	max-width: 30em;
	word-break: break-all;
}
.table-contact.table > tbody > tr > td {
	border-top: 1px solid #282828;
}

#landing-form {
	margin: 0 auto;
	max-width: 30em;
}

#landing-form input.form-control {
	height: auto;
	padding: 8px;
}

#landing-form input[type=submit] {
	background-color: #194;
	color: #fff;
	font-weight: bold;
}


#section-about {
	background-color: #fff;
}

#section-contact {
	background-color: #333333;
	color: #fff;
}

#section-contact .form-control {
	border: none;
	background-color: rgba(0, 0, 0, 0.4)
}

.section-content img {
	width: 100%;
}

.table .glyphicon-ok,
.table .glyphicon-ok-circle {
	color: #494;
	font-size: 1.2em;
}

@media screen and (max-width: 50em) {
  .paragraph-text {
		text-indent: 2em;
	}
	
	.section-content {
		padding: 16px 8px;
		line-height: 1.5em;
		font-size: 1.05em;
	/*	background-color: #aaa;*/
	
	}
}

