<section>
	<a name="home"></a>
	<div class="hero-container">
		<div class="hero-overlay">
			<div class="hero-text">
				<h1>BibleQuizHelper</h1>
				<h2>WPA's secret weapon.</h2>
				<div>
					<hr width="50%" style="border-color: rgba(255,255,255,0.5);">
					<p><span class="phone-number">304-602-7268</span></p>
					<span>youngwebking@gmail.com</span>
				</div>
			</div>
		</div>
		
		<div class="hero-image">
			<img src="assets/img/banner.jpg">
		</div>
	</div>
</section>
