<section id="section-contact">
	<hgroup class="footer-brand">
		<h2><span>BibleQuizHelper</span></h2>
	</hgroup>
	<a name="contact"></a>
	<div class="container-fluidOFF">
		<hgroup class="section-header">
			<h1>CONTACT US</h1>
		</hgroup>
		<div class="section-content section-contact">
			<table class="table table-contact">
				<thead></thead>
				<tbody>
					<tr>
						<td>Email</td>
						<td><a href="mailto:youngwebking@gmail.com">youngwebking@gmail.com</a></td>
					</tr>
					<tr>
						<td>Phone #</td>
						<td>304-602-7268</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>201 Fenelton Rd.<br>Fenelton, PA 16034</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
