<header>
	<div class="brand">
		<nav class="navbar navbar-black">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					<%= link_to 'BibleQuizHelper', root_url, class: 'navbar-brand' %>
				</div>
				
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><%= link_to 'About', '#about' %></li>
						<li><%= link_to 'Contact', '#contact' %></li>
					</ul>
				</div>
			</div>
		</nav>
		<script type="text/javascript">
			$('.nav a').on('click', function(){
					$('.btn-navbar').click(); //bootstrap 2.x
					$('.navbar-toggle').click() //bootstrap 3.x by Richard
			});
		</script>
	</div>
</header>
